<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Analyse client</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body> 
    <!-- construction du formulaire -->
    <div class="container">
        <h2 class="text-white text-center mb-4">Analyse des clients</h2>
        <div class="card col-5 mx-auto px-4 py-3">
            <form method="POST" id="postForm">
                <div class="form-row ">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="input1">Months_on_book</label>
                            <input  type="number" class="form-control" id="input1" placeholder=" "step="0.0001" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="input2">Months_Inactive_12_mon</label>
                            <select class="form-control" id="input2" required>
                                <option selected></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="input3">Credit_Limit</label>
                            <input  type="number"class="form-control" id="input3" placeholder=""step="0.0001" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="input4">Avg_Open_To_Buy</label>
                            <input  type="number"class="form-control" id="input4" placeholder=""step="0.0001" required>
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="input5">Total_Amt_Chng_Q4_Q1</label>
                            <input  type="number"class="form-control" id="input5" placeholder=""step="0.0001" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="input6">Total_Trans_Amt</label>
                            <input  type="number"class="form-control" id="input6" placeholder=" "step="0.0001" required>
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="input7">Total_Trans_Ct</label>
                            <input  type="number"class="form-control" id="input7" placeholder=" "step="0.0001" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="input8">Total_Ct_Chng_Q4_Q1</label>
                            <input  type="number"class="form-control" id="input8" placeholder=" "step="0.0001" required>
                        </div>
                    </div>
                </div>
            <div class= "text-center mt-2 mb-2">
                <button type="submit" class="btn btn-primary " data-toggle="modal"
                    data-target="#exampleModalLong">Faire une Prédiction</button>

            </div>
                
                <form>
        </div>
        <!-- fin de la construction du formulaire -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header ">
                        <h2 class="modal-title text-center" id="exampleModalLongTitle">Résultat de l'analyse</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="prediction">
                        Veuillez remplire tous les champs du formulaire pour obtenir une prédiction
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Fin du Modal -->
        <!--Scripte js -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
        <!--Fin du Scripte js -->

</body>


<!--Code java-script -->
<script>
    document.getElementById('postForm').addEventListener('submit', getData); //recupération des infortions du formulaire

    function getData(e) { //fonction de récupération
        e.preventDefault();
        var input1 = document.getElementById('input1').value;
        var input2 = document.getElementById('input2').value;
        var input3 = document.getElementById('input3').value;
        var input4 = document.getElementById('input4').value;
        var input5 = document.getElementById('input5').value;
        var input6 = document.getElementById('input6').value;
        var input7 = document.getElementById('input7').value;
        var input8 = document.getElementById('input8').value;
        //convertion des valeurs récupérer en dictionaire
        var params = {
            user_input1: input1,
            user_input2: input2,
            user_input3: input3,
            user_input4: input4,
            user_input5: input5,
            user_input6: input6,
            user_input7: input7,
            user_input8: input8
        }
        //Methode d'envoie des infortions contenue dans le dictionaire
        var xhr = new XMLHttpRequest();
        xhr.open('post', '../output', true);
        xhr.setRequestHeader('Content-Type', 'application/json'),
            //si tous se passe bien on affiche le résulta dans la section dont l'ID est :"prediction"
            xhr.onload = function () {
                console.log('Reached');
                document.getElementById('prediction').innerHTML = this.responseText;
            }
        xhr.send(JSON.stringify(params)); //envoie des infortions en format json
    }
</script> -->
<!--Fin du code java-scripte
</html>
